button {
    background-color: #4CAF50;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 18%;
  }
  button:hover {
    opacity: 0.8;
  }
.login {
    text-align: center;
    margin: 24px 0 12px 0;
  }
.home {
    text-align: center;
    margin: 24px 0 12px 0;
  }
.container {
    text-align: center;
    margin: 24px 0 12px 0;
  }