{% extends "layout.html" %}

{% block body %}

    <head>
        <link rel="stylesheet" href="{{ url_for('static', filename='css/page-style.css') }}">
    </head>

    <div class="container">
        <h1>
            Why Possessed Art Gallery?
        </h1>
        <h3>
            Using this gallery will allow any artist or aspiring artists to have a destination in which all
            of their work be easily displayed and interacted with. 
        </h3>


    </div>

    <div class="container">
        <h1>
            These are some of our Possessed Artworks
        </h1>

        <div class="row">
            <div class="column">
                <h3>
                    Twitter Creator: @ccryptoseaman on Twitter
                </h3>
                <img src="https://pbs.twimg.com/media/FRmNAyGWYAEy_J-?format=jpg&name=small" width="500" height="500">
                <a href="url">https://twitter.com/ccryptoseaman/status/1520401582122323970?s=20&t=0kOGfqKQu1Tex2l4Kdb1Kg</a>
            </div>

            <div class="column">
                <h3>
                    Twitter Creator: @ThePossessedNFT
                </h3>
                <img src="https://pbs.twimg.com/media/FPcWZn-WQAM_BjV?format=jpg&name=large" width="500" height="500">
                <a href="url">https://twitter.com/ThePossessedNFT/status/1510700837319884805?s=20&t=yHIoN7YLLM1fnuU8x5Davg</a>
            </div>

            <div class="column">
                <h3>
                    Twitter Creator: @Garylarg
                </h3>
                <img src="https://pbs.twimg.com/media/FR16-GMXMAADzeu?format=jpg&name=small" width="500" height="500">
                <a href="url">https://twitter.com/Garylarg/status/1521507459197718529?s=20&t=0kOGfqKQu1Tex2l4Kdb1Kg</a>
            </div>

            <div class="column">
                <h3>
                    Twitter Creator: @abramorafael
                </h3>
                <img src="https://pbs.twimg.com/media/FRxV-a1WQAMUylR?format=jpg&name=small" width="500" height="500">
            <a href="url">https://twitter.com/abramorafael/status/1521186142439227393?s=20&t=0kOGfqKQu1Tex2l4Kdb1Kg</a>
            </div>
        </div>
    </div>

{% endblock %}
