{% extends "gallery-layout.html" %}

{% block body %}

<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="{{ url_for('static', filename='css/profile.css') }}">
    </head>

    <h1 style="font-family:sans-serif;padding-left:50px; text-align:center">
        {{prof_name}}
    </h1>

    <body>
        <form action="/manage-profile" method="post">
            <div class="container">
                <button type="submit">Manage account?</button>
            </div>
        </form>
        <h3>First name: {{ firstname }}</h3>
        <h3>Last name: {{ lastname }}</h3>
        <h3>Email: {{ email }}</h3>
        <h3>Description: {{ description }}</h3>
    </body>

    <hr {width: 300px;margin-left: auto;margin-right: auto;height: 100px;background-color:#666;opcaity: 0.5;}>
    
    
    
</html>

{% endblock %}
