{% extends "layout.html" %}

{% block body %}
    


<!-- Code for this login page can be found at 
  https://www.codershubb.com/login-form-in-html-and-css-using-python/ -->

  <!DOCTYPE html>
  <html>
  <head>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/library_style.css') }}">
  </head>
  
  <body>
    <center><iframe width="560" height="315" 
      src="https://www.youtube.com/embed/dQw4w9WgXcQ?autoplay=1" 
      title="YouTube video player" 
      frameborder="0" 
      allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" 
      allowfullscreen></iframe>
    </center>
  </body>
  </html>

  {% endblock %}

  